@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Montserrat:wght@400;700&family=Work+Sans&display=swap');

.custom-container {
    font-family: 'Montserrat';

    margin: 10px auto;
    width: 90%;
    max-width: 1000px;
}

.input {
    width: 100%;
    display: flex;
    gap: 10px;
}

.input > input {
    height: 60px;
    padding-left: 20px;
    flex-grow: 1;
    border-radius: 5px;
    background-color: rgba(234, 236, 239, 1);
    border: 0px solid white;
    font-size: 1.4rem;
}

.input-button {
    background-color: rgba(2, 150, 255, 1);
    color: white;
    width: 100px;
    border-radius: 5px;
    border: 0px solid white;
    font-size: 2rem;
}

/*SCREENS*/
.empty {
    width: 100%;
    height: 85vh;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(234, 236, 239, 1);
    color: rgba(32, 43, 59);
    font-size: 3rem;
}
.error {
    background: linear-gradient(180deg, rgba(234, 236, 239, 1) 0%, rgba(255, 117, 117, 0.6) 50%, rgba(234, 236, 239, 1) 100%);
}
.dove {
    background-color: rgba(2, 150, 255, 0.6);
    font-size: 10rem;
}

/*MAIN SCREEN*/
/*GENERAL*/
.general-information {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    /*background-color: rgba(234, 236, 239, 1);*/
    background-color: rgba(2, 150, 255, 0.6);
    color: whitesmoke;
}
.city {
    font-size: 4rem;
    font-weight: bold;
}
.description {
    font-size: 1.5rem;
}
.temp {
    font-size: 6rem;
    margin-bottom: 0rem;
}

.gi-left {
    flex-grow: 1;
    padding: 2rem 2rem 0 6rem;
}
.gi-right {
    width: 40%;
    max-width: 300px;
    max-height: 300px;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    /*background: radial-gradient(rgba(2,150,255,1) 0%, rgba(234, 236, 239, 1) 70%, rgba(234, 236, 239, 1) 100%);*/
}
.gi-right > img {
    width: 200px;
}

/*EXTRA*/
.extra-information {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
    background-color: rgba(234, 236, 239, 1);
    color: rgba(32, 43, 59);
}
.extra-instance {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
}
.emoji {
    font-size: 4rem;
    margin-right: 1rem;
}
.extra-text {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}
.digits {
    font-size: 2rem;
}

/*MEDIA QUERY*/
@media screen and (max-width: 650px) {
    * {
        font-size: 10px;
    }
}